$color-primary: #5a73fc;
$color-primary-light: #8e9efc;
$color-primary-dark: #1c3eff;

$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #333;
$color-orangered: #ff4500;
$color-green: #008000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #55c57a;
$color-tertiary-dark: #25b485;
$color-pink-light: #dbd;

$grid-width: 114rem;
$gutter-vertical: 8rem; // margin bottom giữa các row
$gutter-vertical-small: 5rem; 
$gutter-horizontal: 6rem; // giá trị khoảng cách giữa các column

$default-font-size: 1.6rem;